.search__bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid var(--color-primary);
    padding: 0.3rem;
    border-radius: 0.5rem;
    align-items: center;
    
}
.search__icon{
    margin: 0;
    background-color: #D9F9E6;
    padding: 0.4rem;
    border-radius: 0.2rem;
    color:var(--color-green);
    font-weight: 500;
 
}
.icons_collection{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    color: var(--color-primary);;
}
.bunny_icon{
    background-color: #EA8186;
    color: white;
    padding: 0.3rem;
    border-radius: 50%;
}
.cloud_icon{
    color:var(--color-green);
}
.search_input{
    color: var(--color-primary);
}
.dots_icon{
    color: black;
    font-size: 1.5rem;
}
