.App {
 display: flex;
 height: 100vh;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.site_icon{
  background-color: #F3F4F6;
 color:var(--color-primary);
  position: absolute;
  right: 3rem;
  bottom: 2rem;
  padding: 0.5rem;
}


