.App {
 display: flex;
 height: 100vh;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.container{
  width: 50vw;
  text-align: start;
}
.site_icon{
  color:#90959D;
  position: absolute;
  right: 3rem;
  bottom: 2rem;
}
h5{
  padding: 0;
  margin: 0;
}
small{
  color:#90959D;
}
